table {
   box-sizing: border-box;
   width: 500px;
   font-family: Arial, Helvetica, sans-serif;
   margin: 16px;
}
td {
   text-align: right;
}
td, th {
   padding: 4px;;
}
table, td, th, tr {
   border: 1px solid black;
   border-collapse: collapse;
}
th {
   text-align: center;
}